@page "/add_tenant"
@page "/add_tenant/{Id}"

@using CDPModule1.Client.Services;
@using CDPModule1.Shared
@using CDPModule1.Shared.RequestModel
@using System.Text
@inject HttpClient httpClient
@inject ILocalStorageService localStorageService;
@inject NavigationManager NavManager
<PageTitle>TenantForm</PageTitle>

<h1>Tenant</h1>

<div class="row">
    <div class="col-md-12">
        <EditForm Model="@tenant" OnValidSubmit="@Save" style="background-color:rgb(134,188,37)" class="card card-body bg-light mt-5">
            <DataAnnotationsValidator />
            <div class="row">
                <div class="col-lg-12">
                    <div class="general-info">
                        <div class="row">
                            <div class="col-lg-6">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="col-md-16">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h5 class="text-uppercase mb-0">Tenant Info</h5>
                                                        </div>
                                                        <div class="list-group-item">
                                                            <div class="form-group row">
                                                            </div>

                                                            <label>Tenant Name</label>
                                                            <div class="input-group">

                                                                <span class="input-group-text">
                                                                    <i class="	fas fa-portrait"></i>

                                                                </span>
                                                                <input placeholder="TenantName" @bind="@tenant.Name" class="form-control" />
                                                                <ValidationMessage For="@(() => tenant.Name)" class="text-danger" />
                                                            </div>

                                                            <label>Email</label>
                                                            <div class="input-group">

                                                                <span class="input-group-text">
                                                                    <i class="far fa-address-card "></i>
                                                                    <span class="bi-person"></span>
                                                                </span>
                                                                <input placeholder="Email" @bind="@tenant.Email" class="form-control" />
                                                                <ValidationMessage For="@(() => tenant.Email)" class="text-danger" />

                                                            </div>


                                                            <label>Address</label>
                                                            <div class="input-group">

                                                                <span class="input-group-text">
                                                                    <i class="far fa-address-card "></i>
                                                                    <span class="bi-person"></span>
                                                                </span>
                                                                <input placeholder="Address" @bind="@tenant.Address" class="form-control" />
                                                                <ValidationMessage For="@(() => tenant.Address)" class="text-danger" />

                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-6">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="col-md-16">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h5 class="text-uppercase mb-0">Contact Info</h5>
                                                        </div>
                                                        <div class="list-group-item">
                                                            <div class="form-group row">
                                                            </div>

                                                            <label>Contact</label>
                                                            <div class="input-group">

                                                                <span class="input-group-text">
                                                                    <i class="far fa-address-card "></i>
                                                                    <span class="bi-person"></span>
                                                                </span>
                                                                <input placeholder="Contact" @bind="@tenant.Contact" class="form-control" />
                                                                <ValidationMessage For="@(() => tenant.Contact)" class="text-danger" />

                                                            </div>
                                                            <label>Country</label>
                                                            <div class="input-group">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-map-pin"></i>
                                                                    <span class="bi-person"></span>
                                                                </span>

                                                                <input placeholder="country" @bind="@tenant.Country" class="form-control" />
                                                                <ValidationMessage For="@(() => tenant.Country)" class="text-danger" />
                                                            </div>

                                                            <label>PanNumber</label>
                                                            <div class="input-group">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-map-pin"></i>
                                                                    <span class="bi-person"></span>
                                                                </span>

                                                                <input placeholder="PanNumber" @bind="@tenant.PanNumber" class="form-control" />
                                                                <ValidationMessage For="@(() => tenant.PanNumber)" class="text-danger" />
                                                            </div>
                                                            <label>GstNumber</label>
                                                            <div class="input-group">
                                                                <span class="input-group-text">
                                                                    <i class="fas fa-map-pin"></i>
                                                                    <span class="bi-person"></span>
                                                                </span>

                                                                <input placeholder="GstNumber" @bind="@tenant.GstNumber" class="form-control" />
                                                                <ValidationMessage For="@(() => tenant.GstNumber)" class="text-danger" />
                                                            </div>




                                                        </div>
                                                    </div>


                                                </div>


                                            </td>

                                        </tr>


                                    </tbody>

                                </table>
                            </div>
                            <div class="text-center">

                                <button type="submit" style="background-color:rgb(134,188,37);color:white;" class="btn btn-primary" value="Save">Save</button>
                                @*  <input type="button" style="background-color:rgb(134,188,37);color:white;" class="btn btn-primary" value="Cancel" />*@


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p>@Message</p>
        </EditForm>
    </div>
</div>


@code {
    [Parameter]
    public Tenant tenant { get; set; }

    [Parameter]
    public string Id { get; set; }

    public List<Tenant> allTenants { get; set; }

    public string token { get; set; }

    [Parameter]
    public string Message { get; set; }

    protected override async Task OnInitializedAsync()
    {
        tenant = new Tenant();
        Message = string.Empty;
        GetTenants();
        Console.WriteLine(Id);
        token = await localStorageService.GetItem<string>("token");
        httpClient.DefaultRequestHeaders.Clear();
        httpClient.DefaultRequestHeaders.Add("Authorization", "Bearer " + token);
        if(Id!=null)
        {
            
        
        tenant = await httpClient.GetFromJsonAsync<Tenant>("api/Tenant/GetTenantById" + Id);
        }

    }

    public async void GetTenants()
    {
        token = await localStorageService.GetItem<string>("token");
        httpClient.DefaultRequestHeaders.Clear();
        httpClient.DefaultRequestHeaders.Add("Authorization", "Bearer " + token);
        var result = await httpClient.GetAsync("api/Account/GetAllTenants");

    }

    public async void Save()
    {
        try
        {
            tenant.CreatedOn = DateTime.Now;
            tenant.ModifiedOn = DateTime.Now;
            tenant.IsDeleted = false;
            string token = await localStorageService.GetItem<string>("token");
            httpClient.DefaultRequestHeaders.Clear();
            httpClient.DefaultRequestHeaders.Add("Authorization", "Bearer " + token);
            ResponseModal? responseModal = null;
            if(tenant.Id != new Guid())
            {
                var result = await httpClient.PostAsJsonAsync("api/Tenant/UpdateTenant", tenant);
                responseModal = await result.Content.ReadFromJsonAsync<ResponseModal>();
            }
            else
            {
                var result = await httpClient.PostAsJsonAsync("api/Account/AddTenant", tenant);
                responseModal = await result.Content.ReadFromJsonAsync<ResponseModal>();

            }
            if (responseModal?.StatusCode == 200 && responseModal?.Message == "Success")
            {
                tenant = new Tenant();
                Message = responseModal.Message;
                if (Message == "Success")
                {
                    NavManager.NavigateTo("tenants");
                }
              
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}